@model IEnumerable<Transactional.Models.Transaction>

@{
    ViewData["Title"] = "Index";
}

<h1>My Transactions</h1>

<p>
    <a asp-action="Create">Create New Transaction</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionType)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.TransactionId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
